
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 10px 0;
    color: #333;
    text-align: center;
}

p {
    color: #555;
    margin: 5px 0;
    line-height: 1.5;
}


.profile-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}


.social-icons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s, border 0.3s;
}

.social-icons a img:hover {
    border-radius: 50%;
    transform: scale(1.2);
    border: 3px solid #007bff;
}


.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}


.about-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.about-container h1 {
    color: #333;
    margin-bottom: 15px;
}

.about-container p {
    color: #555;
    text-align: justify;
    margin-bottom: 10px;
}

.about-container q {
    font-style: italic;
    color: #007bff;
}
