.profile-header {
    display: flex;
    align-items: center;
    gap: 15px; /
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-card {
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}


.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4facfe;
}


.profile-info h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.profile-info p {
    font-size: 14px;
    color: #555;
}


.projects h3 {
    margin: 15px 0 10px;
    color: #333;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px 5px 0 0;
    background: #4facfe;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
}

.btn:hover {
    background: #00c6ff;
    transform: translateY(-2px);
}

